@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "Image get";
}
<p>
	Call the Image action with a number to the URL to get an image file. E.g /Image/1
</p>