[Unit] 
Description=Front end web application for X-Ray

[Service] 
WorkingDirectory=/var/www/XRayFrontWeb
ExecStart=/usr/bin/dotnet /var/www/XRayFrontWeb/XRayFrontWeb.dll 
Restart=always 
RestartSec=15 # Restart service after 15 seconds if dotnet service crashes 
SyslogIdentifier=offershare-web-app
Environment=ASPNETCORE_ENVIRONMENT=Production 

[Install] 
WantedBy=multi-user.target